* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(BG.jpg);
}

.canvas {
    
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    height: 625px;
    text-align: center;
    padding: 6%;
    background-image: url(BG1.jpg);


}

.h1{
    color: whitesmoke;
    font-size: 30px;
}

.h1 + .h2 {
    margin-bottom: 3%;

}

.h2{
    color: white;
    font-size: 50px;
    font-style: initial;
    font-stretch: narrower;
}



.Animals {
    border: 1px;
    background-color: #CCCAD3;
    box-shadow: 0px 5px 0px grey; 
    outline: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 30px;
    margin: 20px;
    color:black;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2%;
}

.Place { 
    border: 1px;
    background-color: #CCCAD3;
    box-shadow: 0px 5px 0px grey; 
    outline: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 30px;
    margin: 20px;
    color:black;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2%;

}

.Names { 
    margin-top: 20%;
    margin-left: 80%;
    border: solid 1px;
    border-color: aliceblue;
    background-color: #CCCAD3;
    box-shadow: 0px 5px 0px grey; 
    outline: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 30px;
    margin: 20px;
    color:black;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2%;

}

button:active {
    transform: translate(1px, 5px);

    box-shadow: 0px 1px 0px 0px;
}

img {
    height: 50%;
    width: 85%;
    margin-bottom: 5%;
    margin-top: 9%;
    border:1px;

}