* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	background-image: url("BG.jpg");
}

.canvas {
	max-width: 700px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 2%;
	background-image: url("BG1.jpg");
	height: 625px;
}

h2{
    color: #ECF0F1;
}

.bg {

    background-color: white;

}


.h11 {
    color: whitesmoke;
    font-size: 30px;
}

.h11 + .h12 {
	margin-bottom: 3%;
    
}

.h12{
    color: white;
    font-size: 50px;
    font-style: initial;
    font-stretch: narrower;
}

.outerWrap:after {
	content: "";
	display: block;
	clear: both;
}



button {
    border: 1px;
    background-color: #CCCAD3;
    box-shadow: 0px 5px 0px grey; 
    outline: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 30px;
    margin: 20px;
    color:black;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2%;
    width: 60%;
}

button:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }

  .scoreD p, .timeD p {
    font-size: 40px;
    color: aliceblue;

}


.scoreD span, .timeD span {
    font-size: 30px;
    color: whitesmoke;
}

.wordsD {
	margin-top: 50px;
}

.words span{
    font-size: 60px;
    letter-spacing: 1px;
    color: #ECF0F1;
}